@tailwind base;
@tailwind components;
@tailwind utilities;

*{
box-sizing: border-box;
padding: 0 ;
margin: 0;
}

.containerB{
  height: 100vh;
  width: 100%;
  background-image: url('https://i.ibb.co/wS1jV8L/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.overlyB{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.458);
}

.box:hover{
  transition: 0.5s;
  transform: scale(1.05);
}
